.q-box {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 260px;
    border-radius: 5px;
    border: 1px solid #CACDCC;
}

.q-title {
    margin-left: 10px;
}

.q-flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.q-image {
    width: 350px;
    margin-bottom: 20px;
}

.team-wrapper {
    border: 1px solid #1ABC9C;
    margin: 5px 10px;
    border-radius: 5px;
    text-align: center;
    width: 1220px;
}

.btn-grp {
    margin: 10px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.q-btn {
    background-color: #1ABC9C;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    color: white;
    height: 30px;
}