.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.h-title{
    color: green;
}

.h-login-btn{

}

.h-btn-group{
    width: 150px;
    display: flex;
    justify-content: space-between;
}